{%  extends "base.html" %}

{% block content %}
  <title>
    Smart Kitchen | Delete Dish
  </title>
  <header>
    <div class="page-header min-height-300" style="background-image: url('{{ ASSETS_ROOT }}/img/img_2.png');" loading="lazy">
      <span class="mask bg-gradient-dark opacity-8"></span>
    </div>
  </header>

  <div class="card card-body mx-3 mx-md-4 mt-n6 mb-4">
    <section>
      <div class="container py-4">
        <div class="row">
          <div class="col-lg-7 mx-auto d-flex justify-content-center flex-column">
            <h3 class="text-center">Delete Dish</h3>
              <form action="", method="post" class="text-center">
                {% csrf_token %}
                <p>
                  Are you sure you want to delete the dish <strong>{{ dish.name }}</strong>?
                </p>

                <input type="submit" value="Delete" class="btn btn-danger ">
              </form>
          </div>
        </div>
      </div>
    </section>
  </div>
{% endblock %}
