{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dish List
    <a href="{% url 'kitchen_board:dish_create' %}" class="btn btn-primary link-to-page">
      Add Dish
    </a>
  </h1>

  <form method="GET" action="">
      {{ search_form|crispy }}
      <input type="submit" class="btn btn-secondary" value="🔍">
    </form>
    <br>


  {% if dish_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for dish in dish_list %}
        <tr>
          <td>
              {{ dish.id }}
          </td>
          <td>
            <a href="#">{{ dish.name }}</a>
          </td>
          <td>
              {{ dish.price }}
          </td>
          <td>
              {{ dish.description }}
          </td>
          <td>
            <a href="{% url 'kitchen_board:dish_update' dish.id%}">
              Update
            </a>
          </td>
          <td>
            <a style="color: red"
              href="{% url 'kitchen_board:dish_delete' dish.id%}">
              Delete
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no dishes on the Kitchen Board.</p>
  {% endif %}
{% endblock %}
