{% extends "base.html" %}

{% block content %}
  <h1>
    {{ dish.name }}
    <a href="{% url 'kitchen_board:dish_update' dish.id%}"  class="btn btn-secondary link-to-page">
      Update
    </a>
    <a href="{% url 'kitchen_board:dish_delete' dish.id%}" class="btn btn-danger link-to-page">
      Delete
    </a>
  </h1>

  <p><strong>Price:</strong> {{ dish.price }}</p>
  <p><strong>Dish Type:</strong>
    <a href="{% url 'kitchen_board:dish_type_detail' dish.dish_type.id %}">
      {{ dish.dish_type }}
    </a>
  </p>
  <p><strong>Description:</strong> {{ dish.description }}</p>
  <p><strong>Ingredients:</strong>
    {% for ingredient in dish.ingredients.all %}
      <a href="{% url 'kitchen_board:ingredient_detail' ingredient.id %}">
        {{ ingredient.name }}
      </a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </p>
  <h3>
    Cooks
      {% if dish in user.dishes.all %}
      <a href="{% url 'kitchen_board:toggle-dish-assign' pk=dish.id %}" class="btn btn-danger link-to-page">
        Delete me from this dish
      </a>
    {% else %}
      <a href="{% url 'kitchen_board:toggle-dish-assign' pk=dish.id %}" class="btn btn-success link-to-page">
        Assign me to this dish
      </a>
    {% endif %}

  </h3>
  {% if dish.cooks.all %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Position</th>
      </tr>
      {% for cook in dish.cooks.all %}
        <tr>
          <td>{{ cook.id }}</td>
          <td>
            <a href="{{ cook.get_absolute_url }}">
              {{ cook.username }} {% if user == cook %} (Me){% endif %}
            </a>
          </td>
          <td>{{ cook.position }}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no cooks for this dish yet.</p>
  {% endif %}
{% endblock %}
