{% extends "base.html" %}

{% block content %}
  <h1>Smart Kitchen Home</h1>
  <p></p>
  <h2>Dynamic content</h2>
  <p>The Smart Kitchen has the following record counts:</p>
  <ul>
    <li><strong>Cooks:</strong> {{ num_cooks }}</li>
    <li><strong>DishTyp:</strong> {{ num_dish_types }}</li>
    <li><strong>Dishes:</strong> {{ num_dishes }}</li>
    <li><strong>Ingredients:</strong> {{ num_ingredients }}</li>
  </ul>

  <p>
    You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.
  </p>
{% endblock %}
