{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Ingredient List
    <a href="{% url 'kitchen_board:ingredient_create' %}" class="btn btn-primary link-to-page">
      Add Ingredient
    </a>
  </h1>

  <form method="GET" action="">
    {{ search_form|crispy }}
    <input type="submit" class="btn btn-secondary" value="🔍">
  </form>
  <br>

  {% if ingredient_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Stock Count</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>

      {% for ingredient in ingredient_list %}
        <tr>
          <td>
              {{ ingredient.id }}
          </td>
          <td>
            <a href="#">
              {{ ingredient.name }}
            </a>
          </td>
          <td>
            {{ ingredient.stock_count}}
          </td>
          <td>
              <a href="{% url 'kitchen_board:ingredient_update' ingredient.id %}">
                Update
              </a>
            </td>
            <td>
              <a style="color: red"
                href="{% url 'kitchen_board:ingredient_delete' ingredient.id %}">
                Delete
              </a>
            </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
    <p>There are no ingredients on the Kitchen Board.</p>
  {% endif %}
{% endblock %}
