{% extends "base.html" %}

{% block content %}
  <h1>{{ ingredient.name }}</h1>

  {% if ingredient.dishes.all %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Dish Name</th>
      </tr>
      {% for dish in ingredient.dishes.all %}
        <tr>
          <td>{{ dish.id }}</td>
          <td>
            <a href="{{ dish.get_absolute_url }}">
              {{ dish.name }}
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no dishes for this ingredient yet.</p>
  {% endif %}
{% endblock %}
