{% load query_transform %}
{% if is_paginated %}
<section class="py-7">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mx-auto">
        <ul class="pagination pagination-primary m-4 justify-content-center">

          {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{% query_transform request page=page_obj.previous_page_number %}" aria-label="Previous">
                <span aria-hidden="true"><i class="material-icons">chevron_left</i></span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link" aria-label="Previous">
                <span aria-hidden="true"><i class="material-icons">chevron_left</i></span>
              </span>
            </li>
          {% endif %}

          {% for num in paginator.page_range %}
            {% if num == page_obj.number %}
              <li class="page-item active" aria-current="page">
                <span class="page-link">{{ num }}</span>
              </li>
            {% else %}
              <li class="page-item">
                <a class="page-link" href="?{% query_transform request page=num %}">{{ num }}</a>
              </li>
            {% endif %}
          {% endfor %}

          {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?{% query_transform request page=page_obj.next_page_number %}" aria-label="Next">
                <span aria-hidden="true"><i class="material-icons">chevron_right</i></span>
              </a>
            </li>
          {% else %}
            <li class="page-item disabled">
              <span class="page-link" aria-label="Next">
                <span aria-hidden="true"><i class="material-icons">chevron_right</i></span>
              </span>
            </li>
          {% endif %}

        </ul>
      </div>
    </div>
  </div>
</section>
{% endif %}
